<div class="login">



<div class="loginContainer center">
  <mat-card style="background:#D61717">
  <div class="logoContainer">
    <img style="max-height: 200px;max-width: 200px;background:#D61717" src="./assets/logos.png" alt="">
  </div>
  <div class="buttonContainer center">
    <button mat-raised-button color="accent" (click)="login()"> <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon">lock</mat-icon>
      Google Login</button>

  </div>
  
  
  </mat-card>
 
</div>
</div>