.container{
  
    width: 100%;
    display: inline-block;
    
}
.example-full-width{
    width: 100%;
}
.example-half-width{
    width: 60%;

}
table {
    
    
    width: 100%;
  }
  .pageDesc{
      padding:20px;
  }
  .trashIcon{
      color: red;
  }
  th.mat{
      width: 25% !important;
  }
  