<div class="container">
  <div class="upperContainer">
    <!-- <div class="search">
      <mat-form-field>
        <input matInput (keydown)="search($event)"  placeholder="Enter the Product Name" type="text">
        <mat-icon matSuffix>search</mat-icon>
        
      </mat-form-field>
    </div> -->
    <div class="addButton">
      <button mat-flat-button color="accent" (click)="addNew()"> Add New</button>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div>


    <div class="productDescription">
      <div class="mdl-grid">
        <!-- <div class="mdl-grid">
            <div clacss="mdl-cell mdl-cell--4-col">
              <img src="/assets/download.jpeg" alt=""> </div>
            <div class="mdl-cell mdl-cell--8-col">
              <h5>Product Name</h5>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
              <p>$ 120</p>
            </div> -->
        <div *ngFor="let product of Products" class="mdl-cell mdl-cell--3-col">
          <div class="productImage">


            <div class="customCard">

              <div>
                <div class="buttonWrap"> <button mat-icon-button class="but" (click)="edit(product)">
                    <mat-icon matSuffix>edit</mat-icon>
                  </button>

                  <button mat-icon-button class="trashIcon" (click)="Delete(product?.pId)">
                    <mat-icon matSuffix>delete</mat-icon>
                  </button>

                </div>
                <div class="productImage2" [style.backgroundImage]="'url('+ product?.DownloadUrl +')'"> </div>


              </div>
              <div class="textWrap">
                <div>
                  <h4><b>{{product?.prodName}}</b></h4>
                </div>
                
                  <div>{{product?.prodDescription  | limitTo: '50' }}</div>
                
                <div style="text-align: right;">
                  <h5>‎€ {{product?.prodPrice}}</h5>
                  <br>
                </div>
              </div>
            </div>

          </div>

        </div>


      </div>



    </div>
    <br>
  </div>
</div>